Source/AiConversations/.vs/*
Source/AiConversations_Old
Assemblies/0Harmony.dll
Source/TalkToPawns/.vs
Saves/
Assemblies/HugsLib.dll
Source/TalkToPawns/AiConversations/obj/Debug/TalkToPawns.csproj.AssemblyReference.cache
